.form-auth-bg {
    color: #575757 !important;
    background-color: #ebebeb !important;
}

.form-auth-footer {
    background-color: #e1e1e1;
}

.content.content-full {
    padding-bottom: 0.875rem !important;
    padding-top: 0.875rem !important;
}

.photo-profile {
    width: 146px;
    border-radius: 13px;
    max-height: 219px;
    object-fit: cover;
    object-position: center;
}

.photo-profile--small {
    width: 48px;
    border-radius: 4px;
    max-height: 72px;
}